

#container {
    display: flex;
    flex-direction: column;
    gap: 60px;

    padding: 50px 100px;
    padding-bottom: 0;
}


#div_top {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-height: 173px;

    padding: 0px 50px;


    justify-content: space-between;
    align-items: center;

    border-radius: 10px;
    background: rgba(33, 31, 32, 0.20);
    box-shadow: var(--box-shadow);
}

#french_flag {
    width: 200px;
    height: 160px;
}

#h1 {
    width: 53%;
    
    color: var(--white);
    
    font-size: 32px;
    font-family: var(--font-sen);
    font-weight: 400;
}


#div_bottom {
    display: flex;
    flex-direction: row;
    gap: 76px;

    height: 432px;
    max-height: 432px;

    justify-content: center;
    align-items: flex-start;
}


.informations {
    display: flex;
    flex-direction: column;
    gap: 80px;

    width: 100%;
    height: 100%;

    padding: 90px 20px;

    justify-content: space-between;
    align-items: center;

    border-radius: 10px;
    background: rgba(33, 31, 32, 0.20);

    box-shadow: var(--box-shadow);

    flex-shrink: 1;
}


.lottie_animations { 
    width: 120px;
    height: 120px;
}


#span {
    text-align: center;
    font-size: 36px;
    text-transform: uppercase;
    font-family: var(--font-archivo-black);
    font-weight: 400;

    background-image: linear-gradient(90deg, var(--light-blue), var(--dark-blue));

    color: transparent;

    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    
}

.text_informations {
    color: var(--white);
    text-align: center;
    
    font-size: 32px;
    font-family: var(--font-sen);
    font-weight: 400;
    
}