

#container {
    display: flex;
    flex-direction: column;
    gap: 60px;

    padding: 50px 100px;
    padding-bottom: 0;
}


#div_top {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-height: 173px;

    padding: 0px 50px;


    justify-content: space-between;
    align-items: center;

    border-radius: 10px;
    background: rgba(33, 31, 32, 0.20);
    box-shadow: var(--box-shadow);
}

#french_flag {
    width: 200px;
    height: 160px;
    
}

#h1 {
    width: 53%;
    
    color: var(--white);
    
    font-size: 32px;
    font-family: var(--font-sen);
    font-weight: 400;
}


#div_bottom {
    display: flex;
    flex-direction: row;
    

    gap: 76px;

    height: 432px;
    max-height: 432px;

    justify-content: center;
    align-items: flex-start;
}


.informations {
    display: flex;
    flex-direction: column;
    gap: 80px;

    width: 100%;
    height: 100%;

    padding: 90px 20px;

    justify-content: space-between;
    align-items: center;

    border-radius: 10px;
    background: rgba(33, 31, 32, 0.20);

    box-shadow: var(--box-shadow);

    flex-shrink: 1;
}


.lottie_animations { 
    width: 140px;
    height: 140px;
}


#span {
    text-align: center;
    font-size: 36px;
    text-transform: uppercase;
    font-family: var(--font-archivo-black);
    font-weight: 400;

    background-image: linear-gradient(90deg, var(--light-blue), var(--dark-blue));

    color: transparent;

    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    
}

.text_informations {
    color: var(--white);
    text-align: center;
    
    font-size: 32px;
    font-family: var(--font-sen);
    font-weight: 400;
    
}



@media screen and (max-width: 1222px) {
    
    #container {
    
        padding: 50px 80px;

        padding-bottom: 0;
    }
    

    #french_flag {
        width: 180px;
        height: 140px;
        
    }
    
    #h1 {
        width: 60%;
        
        font-size: 28px;
    }
    
    
    #div_bottom {
        gap: 60px;
    
        height: 400px;
        max-height: 432px;
    
    }
    
    
    .informations {
        gap: 60px;
        
        padding: 50px 20px;
    
    }
    
    
    .lottie_animations { 
        width: 120px;
        height: 120px;
    }
    
    
    #span {
        font-size: 32px;
        
    }
    
    .text_informations {
        
        font-size: 28px;
        
    }
}


@media screen and (max-width: 970px) {
    
    #container {
    
        padding: 50px 60px;

        padding-bottom: 50px;
    }
    

    #french_flag {
        width: 160px;
        height: 120px;
        
    }
    
    #h1 {
        width: 60%;
        
        font-size: 24px;
    }
    
    
    #div_bottom {
        gap: 50px;
    
        height: 350px;
        max-height: 432px;
    
    }
    
    
    .informations {
        gap: 40px;
        
        padding: 50px 20px;
    
    }
    
    
    .lottie_animations { 
        width: 100px;
        height: 100px;
    }
    
    
    #span {
        font-size: 28px;
        
    }
    
    .text_informations {
        
        font-size: 24px;
        
    }
}

@media screen and (max-width: 782px) {
    
    #container {
    
        gap: 80px;

        padding: 30px 40px;

        padding-bottom: 40px;

    }
    

    #french_flag {
        width: 140px;
        height: 100px;
        
    }
    
    #h1 {
        width: 60%;
        
        font-size: 20px;
    }
    
    
    #div_bottom {
        flex-direction: column;

        gap: 40px;
    
        height: fit-content;
    
    }
    
    
    .informations {

        gap: 25px;
        
        padding: 20px 20px;


    
    }
    
    
    .lottie_animations { 
        width: 80px;
        height: 80px;
    }
    
    
    #span {
        font-size: 24px;
        
    }
    
    .text_informations {
        
        font-size: 20px;
        
    }
}


@media screen and (max-width: 538px) {
    
    #container {
    
        gap: 40px;

        padding: 50px 20px;


    }
    

    #div_top {
        
        
        padding: 0px 20px;
    
    }


    #french_flag {
        width: 120px;
        height: 80px;
        
    }
    
    #h1 {
        width: 65%;
        
        font-size: 16px;
    }
    
    
    #div_bottom {
        flex-direction: column;

        gap: 40px;
    
        height: fit-content;
    
    }
    
    
    .informations {

        gap: 20px;
        
        padding: 10px 10px;


    
    }
    
    
    .lottie_animations { 
        width: 60px;
        height: 60px;
    }
    
    
    #span {
        font-size: 20px;
        
    }
    
    .text_informations {
        
        font-size: 16px;
        
    }
}


@media screen and (max-width: 444px) {
    

    #div_top {
        flex-direction: column;

        padding: 20px 20px;

        gap: 20px;

        height: fit-content;
        max-height: none;
    
    }



    
    #h1 {
        width: 100%;
        
        font-size: 16px;
    }
    

}