

#container {
    display: flex;
    width: 100%;
    gap: 100px;

    justify-content: center;
    align-items: center;
    align-content: flex-start;

    padding: 90px 250px;

    flex-wrap: wrap;
}


.image {
    width: 145px;
    height: 215px;
    object-fit: cover;

    border-radius: 5px;

    box-shadow: 0px 0px 14px 6px rgba(0, 0, 0, 0.30);

    transition: transform 0.1s ease;
    transform-style: preserve-3d;
    will-change: transform;


}

.image:hover {
    transform: translateZ(12px);
}


@media (prefers-reduced-motion) {
    .image {
        transform:  none !important;
    }
}