

#header {
    display: flex;
    max-height: 140px;
    padding: 30px 100px;
    justify-content: space-between;
    align-items: center;

    background-color: var(--black);
    box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.35);
}

#logo {
    width: 146px;
    height: auto;
}


#nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}


#link {
    color: var(--white);
    text-align: center;
    font-size: 24px;
    font-family: var(--font-comfortaa);
    font-weight: 700;
    text-transform: capitalize;

    transition: all 300ms ease-in-out;
}

.link_active {
    text-decoration: underline;
}

#link:hover {
    text-decoration: underline;
}


/* burger menu */

.container_burger {
    
    display: none; /* when active -> display: flex; */ 
    flex-direction: column;
    gap: 8px;

    width: fit-content;
    height: 45px;

 
    cursor: pointer;

}


.burger {
    display: none; /* when active -> display: block; */
    position: relative;
    
    width: 3em;
    height: 6px;
    
    
    border-radius: 3px;
    background-color: var(--light-blue);
    
    transition: all 300ms ease-in-out;
}




/* when responsive is true */ 

#nav_active {
    display: flex;
    flex-direction: column;
    gap: 80px;
    
    justify-content: center;
    align-items: center;
    
    position: absolute;
    
    right: 0;
    top: 0;
    
    width: 100%;
    height: 100%;
    transition: all 300ms ease-in-out;
    
    
    
    background-color: var(--black);

    z-index: 1;
    
}


#container_burger_active {
    
    position: absolute;   
    top: 2em;
    right: 10%;

}


#burger_top {
    transform: rotate(-45deg);
    margin-top: 25px;
    
}

#burger_middle {
    transform: rotate(45deg);
    margin-top: -13px;
    
}

#burger_bottom {
    opacity: 0;
    transform: rotate(45deg);
    
}


/* media queries */ 

@media screen and (max-width: 1440px) {
    
    #header {
        padding: 30px 80px;
    }


    #logo {
        width: 126px;
    }

    #nav {
        gap: 40px;
    }

    
    #link {
        font-size: 20px;

    }
}


@media screen and (max-width: 1024px) {
    
    #header {
        padding: 25px 60px;
    }


    #logo {
        width: 106px;
    }

    #nav {
        gap: 40px;
    }

    
    #link {
        font-size: 16px;

    }
}


@media screen and (max-width: 830px) {
    
    #header {
        padding: 25px 40px;
    }


    #logo {
        width: 96px;
    }

    #nav {
        gap: 30px;
    }
 
}



@media screen and (max-width: 710px) {
    
    #header {
        padding: 25px 80px;
    }


    #logo {
        width: 136px;
    }

    #nav {
        gap: 30px;
    }
    
    .container_burger {
    
        display: flex; 
    
    }

    #link {
        
        display: none;

        font-size: 24px;

    }
    
    
    .burger {
        display: block; 

    }

}


@media screen and (max-width: 418px) {
    
    #header {
        padding: 20px 50px;
    }


    #logo {
        width: 116px;
    }

    

    #link {
        
        font-size: 20px;

    }
    

}


@media screen and (max-width: 338px) {
    
    #header {
        padding: 20px 30px;
    }


    #logo {
        width: 106px;
    }

    

    #link {
        
        font-size: 16px;

    }
    

}