


#container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 60px;
    grid-row-gap: 0px;
    padding: 60px 100px;
    padding-bottom: 0;
}


#div_left {
    display: flex;
    flex-direction: column;
    gap: 60px;

    width: 100%;

    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
}



#h1 {
    color: var(--white);
    font-size: 76px;
    font-family: var(--font-archivo-black);
    letter-spacing: 1.52px;
    text-transform: uppercase;
    font-weight: 400;

    width: 80%;
}


#span_h1 {
    background-image: linear-gradient(90deg, var(--light-blue), var(--dark-blue));
    
    color: transparent;
    
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
}


#h2 {
    color: var(--white);
    font-size: 20px;
    font-weight: 500;
    font-family: var(--font-comfortaa);
    width: 70%;
    line-height: 32px;
}

.span_h2 {
    color: var(--light-green);
    font-weight: bold;
}


#button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 25px ;

    background-color: var(--light-blue);
    background-image: linear-gradient(90deg, var(--light-blue), var(--dark-blue), 0);

    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);

    border: 0;
    border-radius: 10px;

    color: var(--black);
    text-align: center;
    font-size: 20px;
    font-family: var(--font-comfortaa);
    font-weight: 500;
    text-transform: capitalize;

    transition: all 2s ease ;

    cursor: pointer;
}

#button:hover {
    background-image: linear-gradient(90deg, var(--light-blue), var(--dark-blue));
    box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.25);
}

#div_right {
    display: flex;
    flex-direction: column;
    gap: 80px;
    
    justify-content: center;
    align-items: center;

    width: 100%;

}


#container_article {
    display: flex;
    flex-direction: row;
    gap: 102px;
    row-gap: 80px;

    flex-wrap: wrap;

    justify-content: space-between;
    align-items: flex-start;

    height: 100%;
    width: 100%;
}

.articles {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    height: 100%;

    max-height: 208px;
    max-width: 40%;

    padding: 30px 20px;

    justify-content: center;
    align-items: center;

    border-radius: 10px;
    background: rgba(33, 31, 32, 0.20);

    box-shadow: var(--box-shadow);

}


.step_number {
    color: var(--white);
    text-align: center;
    font-family: var(--font-sen);
    font-weight: 400;
    font-size: 20px;
}

.locker_icon {
    color: var(--white);
    width: 90px;
}


.text_unlocked {
    display: none;

    color: transparent;
    font-size: 24px;
    text-align: center;
    font-weight: 700;
    font-family: var(--font-sen);

    background-image: linear-gradient(90deg, var(--light-blue), var(--dark-blue));

    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;

}


#counter_bar {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;

    width: 100%;
    max-width: 100%;
    height: 50px;


    border-radius: 50px;

    background-color: var(--white);
    
    box-shadow: 0px 0px 100px 0px rgba(3, 247, 235, 0.20);
    overflow: hidden;

    z-index: -2;
}

#counter_bar::before {
    content: "";
    position: absolute;
    background-image: linear-gradient(90deg, var(--light-blue), var(--dark-blue));
    
    width: 43.3%;
    height: 40px;
    max-width: 43.3% !important;

    border-radius: 50px;
    
    overflow: hidden;

    z-index: -1;
}



.span_counter {
    color: var(--black);
    text-align: center;
    font-size: 24px;
    font-family: var(--font-archivo-black);
    font-weight: 400;
    padding: 0 21px;
    


}